.header{
  height: 25px;
  width: 100%;
  background-color: #38AEF0;
  color: #ffffff;
  line-height: 25px;
}

.block{
  color: #ffffff;
  height: 100vh;
  float: left;

  &__box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    display: flex;
  }

  &__leftup{
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  &__leftblock{
    width: 260px;
    height: calc(100% - 100px);
    padding: 0 20px;
    background-color: #2f3e51;
    overflow: scroll;
  }

  &__content{
    width: calc(100vw - 300px);
    height: calc(100vh - 200px);
    float: left;
    }

  &__groupname{
    height: 20px;
    padding: 35px 0 15px 0;
  }

  &__member{
    font-size: 12px;
    padding: 10px 10px 0 0;
    color: #999999;
  }

  &__memberlist{
    color: #999999;
    margin: 0 5px;
  }

  &__mainup{
    height: 100px;
    margin: 0 40px;
    background-color: #ffffff;
    border-bottom: solid 1px;
    color: #eeeeee;
  }


  &__main{
    padding: 46px;
    height: calc(100% - 100px);
    background-color: #fafafa;
    overflow: scroll;
  }

  &__bottom{
    height: 100px;
    width: calc(100vw - 300px);
    position: fixed;
    left: 300px;
    bottom: 0;
    background-color: gray;
  }

}

.message{
  padding: 0 0 40px 0;
}

.upper-message{
  display: flex;
  line-height: 30px;


  &__user-name{
    font-size: 20px;
  }


  &__date{
    font-size: 12px;
    padding: 0 0 0 10px;
  }
}
.element__groupname__current-group{
  font-size: 20px;
  color: #333333;
}

.element__member{
  color: #999999;
  font-size: 12px;
}

.form{
  width: 65%;
  height: 50px;
  position: fixed;
  left: 340px;
  bottom: 25px;
  display: flex;
  background-color: pink
}


.form__message{
    height: 50px;
    width: 100%;
    left: 350px;
    bottom: 25px;
    display: flex;
}

.new_message{
  width: 100%;
}




#edit{
  width: 40px;
  line-height: 40px;
  display: flex;
  color: blue;
  padding: 0 20px;
  border: solid 1px;
  position: absolute;
  top: 0px;
  right: 40px;
  margin-top: 28px;
}

.element__box__user-name{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  display: flex;
}

.form__submit{
  height: 50px;
  width: 6%;
  background-color: lightblue;
  position: fixed;
  bottom: 25px;
  right: 50px;
}


.form__mask__image{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.hidden{
  visibility:hidden
}