.header{
  height: 25px;
  width: 100%;
  background-color: #38AEF0;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
}

.block{
  color: #ffffff;
  height: calc(100vh - 25px);
  float: left;

  &__box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
  }

  &__leftup{
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  &__leftblock{
    width: 260px;
    height: calc(100% - 100px);
    padding: 0 20px;
    background-color: #2f3e51;
  }

  &__content{
    width: calc(100vw - 300px);
    height: calc(100vh - 25px);
    float: left;
    }

  &__mainup{
    height: 100px;
    background-color: #ffffff;
    border-bottom: solid 1px;
    color: #eeeeee;
  }


  &__main{
    height: calc(100% - 100px);
    background-color: #fafafa;
  }

  &__bottom{
    height: 100px;
    width: calc(100vw - 300px);
    position: fixed;
    left: 300px;
    bottom: 0;
    background-color: gray;
  }

  &__comment{
    width: 63%;
    height: 50px;
    left: 350px;
    bottom: 25px;
    position: fixed;
    display: flex;
  }
}

#edit{
  width: 40px;
  line-height: 40px;
  display: flex;
  color: blue;
  padding: 0 20px;
  border: solid 1px;
  position: absolute;
  right: 40px;
  margin-top: 28px;
}

.element__box__user-name{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  display: flex;
}

.submit-btn{
  height: 50px;
  width: 6%;
  background-color: lightblue;
  position: fixed;
  bottom: 25px;
  right: 50px;
}

.input-text{
  width: 100%;
}

.input-image{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}